[submodule "submodules/odoo-road-union"]
	path = submodules/odoo-road-union
	url = https://github.com/MarvinSoftwareSolutions/odoo-road-union
	branch = 16.0
[submodule "submodules/odoo-union"]
	path = submodules/odoo-union
	url = https://github.com/MarvinSoftwareSolutions/odoo-union
	branch = 16.0
[submodule "submodules/account-reconcile"]
	path = submodules/account-reconcile
	url = https://github.com/OCA/account-reconcile
	branch = 16.0
[submodule "submodules/bank-statement-import"]
	path = submodules/bank-statement-import
	url = https://github.com/OCA/bank-statement-import
	branch = 16.0
[submodule "submodules/helpdesk"]
	path = submodules/helpdesk
	url = https://github.com/OCA/helpdesk
	branch = 16.0
[submodule "submodules/reporting-engine"]
	path = submodules/reporting-engine
	url = https://github.com/OCA/reporting-engine
	branch = 16.0
[submodule "submodules/vertical-association"]
	path = submodules/vertical-association
	url = https://github.com/OCA/vertical-association
	branch = 16.0
[submodule "submodules/odoo-argentina"]
	path = submodules/odoo-argentina
	url = https://github.com/ingadhoc/odoo-argentina
	branch = 16.0
[submodule "submodules/account-financial-tools"]
	path = submodules/account-financial-tools
	url = https://github.com/ingadhoc/account-financial-tools
	branch = 16.0
[submodule "submodules/account-payment"]
	path = submodules/account-payment
	url = https://github.com/ingadhoc/account-payment
	branch = 16.0
[submodule "submodules/odoo-argentina-ce"]
	path = submodules/odoo-argentina-ce
	url = https://github.com/ingadhoc/odoo-argentina-ce
	branch = 16.0
[submodule "submodules/odooapps"]
	path = submodules/odooapps
	url = https://github.com/odoomates/odooapps
	branch = 16.0
[submodule "submodules/odoo-vialidad-cordoba"]
	path = submodules/odoo-vialidad-cordoba
	url = https://github.com/MarvinSoftwareSolutions/odoo-vialidad-cordoba
	branch = 16.0
[submodule "submodules/knowledge"]
	path = submodules/knowledge
	url = https://github.com/OCA/knowledge.git
	branch = 16.0
